notifications:
  email:
    on_success: change
    on_failure: always

language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"

matrix:
  allow_failures:
    - python: "nightly"
    - python: "3.7-dev"
    - python: "3.6-dev"

script:
    - pip install -U setuptools
    - pip install -U setuptools_scm
    - pip install -U pip
    - python setup.py test
