notifications:
  email:
    on_success: change
    on_failure: always

language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
  - "nightly"

matrix:
  allow_failures:
    - python: "nightly"
    - python: "3.7-dev"
    - python: "3.6-dev"

script:
    # setuptools only supports py 3.3 up to version 39
    - |
      if [ "$TRAVIS_PYTHON_VERSION" == "3.3" ]
      then
        pip install -U 'setuptools<40'
      else
        pip install -U setuptools
      fi
    - pip install -U setuptools_scm
    - pip install -U pip
    - python setup.py test
